*

!.gitignore
!README.md

!CMakeLists.txt
!cmake/
!cmake/**

!src/
!src/CMakeLists.txt
!src/*.cpp
!src/*.h

!tests/
!tests/cpp/
!tests/cpp/*.cpp
!tests/julia/
!tests/julia/*.jl

!.github/
!.github/workflows/
!.github/workflows/*.yml
