*

!.gitignore
!README.md

!justfile
!meson.build
!meson.options

!src/
!src/meson.build
!src/*.cpp
!src/*.h

!tests/
!tests/cpp/
!tests/cpp/meson.build
!tests/cpp/*.cpp
!tests/julia/
!tests/julia/*.jl

!.github/
!.github/workflows/
!.github/workflows/*.yml
